@import "variables";
@import "theme-colors";

body, html {
  overflow-x: hidden;
  padding-right: 0 !important;
  font-size: $default-font-size;
  color: var(--default-font-color);
  font-family: 'Roboto', sans-serif;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($brand-color, 50%);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $brand-color;
  }
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto;
}

a {
  text-decoration: none !important;

  &.text-muted {
    &:hover {
      color: $brand-color !important;
    }
  }
}

hr {
  border-color: var(--default-border-color);
}

@for $i from 1 through 500 {
  .size-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: $default-scrollbar-width;
    height: $default-scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color);

      &:hover {
        background-color: var(--scrollbar-thumb-hover-color);
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

// Override Bootstrap Styles
.border, .border-top, .border-right, .border-bottom, .border-left {
  border-color: var(--default-border-color) !important;
}

.shadow {
  box-shadow: var(--default-box-shadow) !important;
}
