// Normal Colors
$black: #000;
$red: #f96868;
$blue: #4466F2;
$pink: #E91E63;
$cyan: #57c7d4;
$teal: #58d8a3;
$green: #46c35f;
$white: #ffffff;
$purple: #6a008a;
$indigo: #6610f2;
$violet: #41478a;
$orange: #f2a654;
$yellow: #f6e84e;
$dark-blue: #2850f0;
$white-smoke: #f2f7f8;
$dodger-blue: #3498db;
$light-purple: #964ed8;
$darkslategray: #2e383e;

// Color Variables
$base-color: #FAFBFE;
$info-color: #38a4f8;
$brand-color: #1f4287;
$light-color: #F5F8FF;
$muted-color: #9c9fa6;
$error-color: #cc3300;
$danger-color: #f96868;
$warning-color: #f8b425;
$success-color: #46c35f;
$secondary-color: #9397A0;

// Border Variables
$default-radius: 0.25rem;

// Fonts
$default-font-size: 0.935rem;
$type-1: 'Roboto', sans-serif;
$light-layout-secondary-font-color: #8A8A8A;

// Buttons
$action-button-padding: 0.4rem 0.5rem;
$default-button-padding: 0.45rem 1.2rem;

// Cards
$default-card-padding: 2rem;

// Dropdown
$dropdown-arrow-font-size: 0.55rem;

// Measurement & Property Variables
$default-padding-margin: 2rem;
$bootstrap-column-padding: 1rem;
$main-content-wrapper-padding: 2rem;
$filter-button-padding: 0.5rem 1.5rem;

// Transition Variables
$default-transition-duration: 0.25s;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease-in-out;

// Form Variables
$wizard-step-btn-default-color: $secondary-color;
$forms-input-text-color: #898989;
$filter-btn-text-color: $light-layout-secondary-font-color;
$inputs-focus-color: $blue;
$default-input-box-padding: 10px 14px;

// Misc Variables
$default-scrollbar-width: 6px;
$light-layout-card-bg: $white;
$default-modal-padding: 1.688rem;
$modal-close-icon-hover-bg: rgba(0, 0, 0, 0.02);
$default-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
$default-card-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
$default-light-btn-hover-bg: rgba(245, 248, 255, 0.95);
$default-dark-btn-hover-bg: rgba(68, 102, 242, 0.95);

// Navbar
$navbar-height: 70px;
$navbar-menu-color: #9c9fa6;
$navbar-font-size: 0.875rem;
$light-navbar-link-color: $brand-color;

// Sidebar
$sidebar-width-lg: 230px;
$sidebar-width-icon: 70px;
$sidebar-scrollbar-width: 6px;
$icon-only-collapse-width: 190px;
$sidebar-icon-font-size: 1.125rem;
$sidebar-arrow-font-size: 0.75rem;
$sidebar-submenu-font-size: .8125rem;
$sidebar-menu-font-size: $default-font-size;
$sidebar-submenu-item-padding: .75rem 1.35rem .75rem 1.35rem;

// Sidebar Light
$sidebar-light-submenu-color: #888;
$sidebar-scrollbar-thumb-color: #566076;
$sidebar-light-menu-arrow-color: #9e9da0;

// Sidebar Dark
$sidebar-dark-bg: #2B303B;
$sidebar-dark-menu-color: #707887;
$navbar-brand-bg: darken($sidebar-dark-bg, 6%);
$sidebar-submenu-bg-color: darken($sidebar-dark-bg, 6%);
