@import "../variables";
@import "../theme-colors";

.navbar {
  font-family: $type-1;
  background: var(--navbar-bg);
  margin-left: $sidebar-width-lg;
  box-shadow: var(--navbar-box-shadow);
  transition: all $action-transition-duration $action-transition-timing-function;
  -moz-transition: all $action-transition-duration $action-transition-timing-function;
  -webkit-transition: all $action-transition-duration $action-transition-timing-function;

  .navbar-menu-wrapper {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    height: $navbar-height;
    color: $navbar-menu-color;
    justify-content: space-between;
    width: calc(100% - #{$sidebar-width-lg});
    transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;

    .navbar-brand {
      margin-right: 0;

      img {
        margin: auto;
        height: 32px;
        max-width: 100%;
        vertical-align: middle;
      }
    }

    .navbar-nav {
      align-items: center;
      flex-direction: row;

      .nav-item {
        .nav-link {
          padding: 0 1rem;
          display: inline-flex;
          align-items: center;
          height: $navbar-height;
          color: var(--default-font-color);

          i {
            font-size: 24px;
          }
        }

        &.dropdown {
          .dropdown-toggle {
            &:after {
              display: none;
            }
          }

          .dropdown-menu {
            border: none;
            border-radius: $default-radius;
            box-shadow: var(--default-box-shadow);

            &:before {
              content: '';
              width: 0;
              height: 0;
              z-index: 2;
              position: absolute;
              top: -7px;
              right: 15px;
              left: inherit;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid var(--dropdown-menu-bg);
            }

            &.navbar-dropdown {
              margin-top: 7px;
              min-width: 150px;
              padding: 0.8rem 0;
              position: absolute;

              .dropdown-item {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: inherit;
                margin-bottom: 0;
                padding: 1rem 2rem;
              }
            }

            @extend .dropdownAnimation;
          }
        }

        &.nav-profile {
          .nav-link {
            display: flex;

            .nav-profile-img {
              width: 32px;
              height: 32px;
              position: relative;

              img {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 1.5px solid $brand-color;
              }
            }
          }

          .dropdown-menu {
            width: 250px !important;

            .nav-profile-img {
              margin-right: 1rem;
              position: relative;
              width: 50px;
              height: 50px;

              img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
              }
            }

            .dropdown-divider {
              margin: 0.5rem 0;
            }

            .dropdown-item {
              &.profile {
                cursor: default;
                font-size: 90%;

                &:hover {
                  background: transparent;
                  color: var(--default-font-color);
                }

                .nav-profile-text {
                  p {
                    text-wrap: normal !important;
                    white-space: normal !important;
                    text-overflow: initial !important;
                  }
                }
              }

              i {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    margin-left: 0;
    flex-direction: row;

    .navbar-menu-wrapper {
      width: 100%;
    }
  }
  .sidebar {
    .navbar-brand-wrapper {
      display: none !important;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-menu-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}