@import "../variables";
@import "../theme-colors";

.navbar-top {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin-left: $sidebar-width-lg;
  transition: all $action-transition-duration $action-transition-timing-function;
  -moz-transition: all $action-transition-duration $action-transition-timing-function;
  -webkit-transition: all $action-transition-duration $action-transition-timing-function;

  .navbar-menu-wrapper {
    width: 100%;
    display: flex;
    padding: 1rem $default-padding-margin;
    align-items: center;
    color: $navbar-menu-color;
    justify-content: space-between;
    transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;

    .navbar-left-items {
      display: flex;
      align-items: center;

      .navbar-brand {
        margin-right: 0;

        img {
          margin: auto;
          height: 32px;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }

    .navbar-nav {
      align-items: center;
      flex-direction: row;

      .nav-item {
        display: inline-flex;
        align-items: center;

        .nav-link {
          padding: 0 1rem;
          color: var(--font-color);

          i {
            font-size: 24px;
          }
        }

        &.dropdown {
          .dropdown-toggle {
            &:after {
              display: none;
            }
          }

          .dropdown-menu {
            &:before {
              content: '';
              width: 0;
              height: 0;
              z-index: 2;
              position: absolute;
              top: -7px;
              right: 15px;
              left: inherit;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid var(--dropdown-menu-bg);
            }

            &.navbar-dropdown {
              margin-top: 7px;
              min-width: 150px;
              padding: 0.8rem 0;
              position: absolute;

              .dropdown-item {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: inherit;
                padding: 1rem 2rem;
              }
            }

            @extend .dropdownAnimation;
          }
        }

        &.nav-profile {
          .nav-link {
            display: flex;

            .nav-profile-img {
              img {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                border: 2px solid $brand-color;
              }
            }
          }

          .dropdown-menu {
            width: 250px !important;

            .dropdown-item {
              i {
                font-size: 20px;

              }
            }
          }
        }

        &:first-child {
          .nav-link {
            padding-left: 0;
          }
        }

        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }

  &.navbar-sticky {
    background-color: var(--navbar-bg);
    box-shadow: var(--navbar-box-shadow);
  }
}

@media (max-width: 991px) {
  .navbar-top {
    margin-left: 0;
    flex-direction: row;
    background-color: var(--navbar-bg);
    box-shadow: var(--navbar-box-shadow);


    .navbar-menu-wrapper {
      width: 100%;
    }
  }
}