@import "../variables";
@import "../theme-colors";

.sidebar {
  z-index: 200;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  font-family: $type-1;
  width: $sidebar-width-lg;
  background: var(--sidebar-bg);
  box-shadow: var(--sidebar-box-shadow);
  transition: width $action-transition-duration $action-transition-timing-function;
  -moz-transition: width $action-transition-duration $action-transition-timing-function;
  -webkit-transition: width $action-transition-duration $action-transition-timing-function;

  .navbar-brand-wrapper {
    height: $navbar-height;
    width: $sidebar-width-lg;
    background: var(--navbar-brand-bg);
    transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;

    .navbar-brand {
      width: 100%;
      margin-right: 0;
      padding: 0.25rem 0;

      img {
        height: 40px;
        margin: auto;
        max-width: 100%;
        vertical-align: middle;
      }

      &.brand-logo-mini {
        display: none;

        img {
          max-width: 100%;
          height: 28px;
          margin: auto;
        }
      }
    }
  }

  .nav {
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: calc(100vh - #{$navbar-height});

    .nav-item {
      padding-right: 1.2rem;
      transition: all $default-transition-duration $action-transition-timing-function;

      .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        color: var(--default-font-color);
        transition: color $default-transition-duration $action-transition-timing-function;

        i {
          font-size: 25px;
        }

        .menu-title {
          margin-left: 1rem;
          display: inline-block;
          font-size: $sidebar-menu-font-size;
        }

        &[aria-expanded] {
          &:after {
            content: '\f107';
            opacity: 0.5;
            margin-left: auto;
            display: inline-block;
            color: $sidebar-dark-menu-color;
            font: normal normal 900 $sidebar-arrow-font-size/1 'Line Awesome Free';
            transition: $action-transition-duration $action-transition-timing-function;
          }
        }

        &[aria-expanded="true"] {
          &:after {
            transform: rotate(90deg);
          }
        }

        &:hover {
          color: $brand-color;
        }

        &.active {
          border-radius: 0 30px 30px 0;
          border-left: 3px solid $brand-color;
          background-color: lighten($brand-color, 60%);
        }
      }
    }

    &.sub-menu {
      list-style: none;
      margin-bottom: 0;

      .nav-item {
        padding: 0;

        .nav-link {
          height: auto;
          border-top: 0;
          line-height: 1;
          position: relative;
          color: $sidebar-dark-menu-color;
          font-size: $sidebar-submenu-font-size;
          padding: 0 1.35rem 0.75rem 1.35rem;

          &::before {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 10px 14px;
            border-radius: 50%;
            background-color: $sidebar-dark-menu-color;
          }

          &.active {
            color: lighten($brand-color, 35%);
            background: transparent;

            &::before {
              background-color: $brand-color;
            }
          }

          &:hover {
            &::before {
              background-color: $brand-color;
            }
          }
        }

        &:first-child {
          .nav-link {
            padding-top: 1.2rem;
          }
        }

        &:last-child {
          .nav-link {
            padding-bottom: 1.2rem;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: $sidebar-scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: $default-radius;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: $sidebar-scrollbar-thumb-color;
      }
    }
  }
}

// Style for off-canvas menu
@media screen and (max-width: 991px) {
  .sidebar-off-canvas {
    margin-top: 0;
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: -$sidebar-width-lg;
    max-height: calc(100vh - #{$navbar-height});
    transition: all $action-transition-duration $action-transition-timing-function;
    -moz-transition: all $action-transition-duration $action-transition-timing-function;
    -webkit-transition: all $action-transition-duration $action-transition-timing-function;

    &.active {
      left: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}