@import "../variables";
@import "../theme-colors";

.sidebar {
  z-index: 200;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  font-family: $type-1;
  width: $sidebar-width-lg;
  background: var(--sidebar-bg);
  box-shadow: var(--sidebar-box-shadow);
  transition: all $action-transition-duration $action-transition-timing-function;
  -moz-transition: all $action-transition-duration $action-transition-timing-function;
  -webkit-transition: all $action-transition-duration $action-transition-timing-function;

  .navbar-brand-wrapper {
    padding: 1rem 1.5rem;

    .navbar-brand {
      width: 100%;
      padding: 0;
      margin: 0;

      img {
        height: 45px;
        margin: auto;
        max-width: 100%;
        vertical-align: middle;
      }

      &.brand-logo-mini {
        display: none;
      }
    }
  }

  .nav {
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: calc(100vh - #{$navbar-height});

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0.35rem 1.5rem;
        color: lighten($brand-color, 45%);

        .icon-wrapper {
          z-index: 2;
          height: 43px;
          max-width: 43px;
          min-width: 43px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          svg {
            width: 22px;
            height: 22px;
            color: lighten($brand-color, 45%);
          }
        }

        .menu-title {
          z-index: 1;
          flex-grow: 1;
          margin-left: -8px;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1.15rem;
          border-radius: 0 20px 20px 0;
          font-size: $sidebar-menu-font-size;
        }

        &[aria-expanded] {
          .menu-title {
            &:after {
              content: '';
              width: 6.5px;
              height: 6.5px;
              border-right: 1.5px solid;
              border-bottom: 1.5px solid;
              display: inline-block;
              box-sizing: border-box;
              transform: rotate(45deg);
              transition: all $default-transition-duration ease-in-out;
            }
          }
        }

        &[aria-expanded="true"] {
          .menu-title {
            &:after {
              transform: rotate(135deg);
            }
          }
        }

        &:hover {
          .icon-wrapper {
            svg {
              color: lighten($brand-color, 55%);
            }
          }

          .menu-title {
            color: lighten($brand-color, 55%);
          }
        }

        &.active {
          .icon-wrapper {
            background-color: lighten($brand-color, 55%);

            svg {
              color: $brand-color;
            }
          }

          .menu-title {
            color: lighten($brand-color, 55%);
            background-color: rgba(193, 210, 240, 0.25);
          }
        }
      }
    }

    &.sub-menu {
      list-style: none;
      margin-bottom: 0;
      padding: 0 1.15rem;

      .nav-item {
        padding: 0;

        .nav-link {
          height: auto;
          border-top: 0;
          line-height: 1;
          position: relative;
          padding: 0.8rem 1.5rem;
          color: lighten($brand-color, 45%);
          font-size: $sidebar-submenu-font-size;

          .sub-menu-pointer {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            flex-shrink: 0;
            display: inline-block;
            margin-inline-end: 22px;
            background-color: lighten($brand-color, 45%);
          }

          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 26px;
            content: '';
            width: 1px;
            background-color: lighten($brand-color, 45%);
          }

          &.active {
            color: lighten($brand-color, 55%);

            &::before {
              background-color: lighten($brand-color, 55%);
            }
          }

          &:hover {
            color: lighten($brand-color, 55%);

            &::before {
              background-color: lighten($brand-color, 55%);
            }
          }
        }

        &:first-child {
          .nav-link {
            &::before {
              top: 1.4rem;
            }
          }
        }

        &:last-child {
          .nav-link {
            &::before {
              bottom: 1.4rem;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: $sidebar-scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: $default-radius;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: $sidebar-scrollbar-thumb-color;
      }
    }
  }
}

// Style for off-canvas menu
@media screen and (max-width: 991px) {
  .sidebar {
    .navbar-brand-wrapper {
      display: none !important;
    }
  }

  .sidebar-off-canvas {
    margin-top: 0;
    padding-top: 15px;
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: -$sidebar-width-lg;
    max-height: calc(100vh - #{$navbar-height});
    transition: all $action-transition-duration $action-transition-timing-function;
    -moz-transition: all $action-transition-duration $action-transition-timing-function;
    -webkit-transition: all $action-transition-duration $action-transition-timing-function;

    &.active {
      left: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}