@import "../variables";
@import "../theme-colors";

.sidebar {
  z-index: 200;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  font-family: $type-1;
  width: $sidebar-width-lg;
  background: var(--sidebar-bg);
  box-shadow: var(--sidebar-box-shadow);
  transition: all $action-transition-duration $action-transition-timing-function;
  -moz-transition: all $action-transition-duration $action-transition-timing-function;
  -webkit-transition: all $action-transition-duration $action-transition-timing-function;

  .navbar-brand-wrapper {
    padding: 1rem 1.5rem;

    .navbar-brand {
      width: 100%;
      padding: 0;
      margin: 0;

      img {
        height: 45px;
        margin: auto;
        max-width: 100%;
        vertical-align: middle;
      }

      &.brand-logo-mini {
        display: none;
      }
    }
  }

  .nav {
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: calc(100vh - #{$navbar-height});

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0.35rem 1.5rem;
        color: lighten($brand-color, 45%);

        .icon-wrapper {
          z-index: 2;
          height: 45px;
          max-width: 45px;
          min-width: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          svg {
            color: lighten($brand-color, 45%);
          }
        }

        .menu-title {
          z-index: 1;
          flex-grow: 1;
          margin-left: -10px;
          display: inline-block;
          padding: 0.6rem 1.5rem;
          border-radius: 0 20px 20px 0;
          font-size: $sidebar-menu-font-size;
        }

        &[aria-expanded] {
          &:after {
            content: '';
            display: inline-block;
            box-sizing: border-box;
            width: 7px;
            height: 7px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
            transition: all $default-transition-duration ease-in-out;
          }
        }

        &[aria-expanded="true"] {
          &:after {
            transform: rotate(135deg);
          }
        }

        &:hover {
          .icon-wrapper {
            i {
              color: lighten($brand-color, 55%);
            }
          }

          .menu-title {
            color: lighten($brand-color, 55%);
          }
        }

        &.active {
          .icon-wrapper {
            background-color: lighten($brand-color, 55%);

            svg {
              color: $brand-color;
            }
          }

          .menu-title {
            color: lighten($brand-color, 55%);
            background-color: rgba(193, 210, 240, 0.25);
          }
        }
      }
    }

    &.sub-menu {
      list-style: none;
      margin-bottom: 0;

      .nav-item {
        padding: 0;

        .nav-link {
          height: auto;
          border-top: 0;
          line-height: 1;
          position: relative;
          color: $sidebar-dark-menu-color;
          font-size: $sidebar-submenu-font-size;
          padding: 0 1.35rem 0.75rem 1.35rem;

          &::before {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            margin: 10px 14px;
            border-radius: 50%;
            background-color: $sidebar-dark-menu-color;
          }

          &.active {
            color: lighten($brand-color, 35%);
            background: transparent;

            &::before {
              background-color: $brand-color;
            }
          }

          &:hover {
            &::before {
              background-color: $brand-color;
            }
          }
        }

        &:first-child {
          .nav-link {
            padding-top: 1.2rem;
          }
        }

        &:last-child {
          .nav-link {
            padding-bottom: 1.2rem;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: $sidebar-scrollbar-width;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: $default-radius;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: $sidebar-scrollbar-thumb-color;
      }
    }
  }
}

// Style for off-canvas menu
@media screen and (max-width: 991px) {
  .sidebar-off-canvas {
    margin-top: 0;
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    left: -$sidebar-width-lg;
    max-height: calc(100vh - #{$navbar-height});
    transition: all $action-transition-duration $action-transition-timing-function;
    -moz-transition: all $action-transition-duration $action-transition-timing-function;
    -webkit-transition: all $action-transition-duration $action-transition-timing-function;

    &.active {
      left: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}